
@font-face {
    font-family: 'millarregular_2';
    src: url('indisponivel/index.html') format('woff2'),
         url('indisponivel/index.html') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'millarregular_3';
    src: url('indisponivel/index.html') format('woff2'),
         url('indisponivel/index.html') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'millarregular_4';
    src: url('indisponivel/index.html') format('woff2'),
         url('indisponivel/index.html') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'millarregular_5';
    src: url('indisponivel/index.html') format('woff2'),
         url('indisponivel/index.html') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'millarregular_6';
    src: url('indisponivel/index.html') format('woff2'),
         url('indisponivel/index.html') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'millarregular';
    src: url('indisponivel/index.html') format('woff2'),
         url('indisponivel/index.html') format('woff');
    font-weight: normal;
    font-style: normal;

}